.items-container {
  padding: 0;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(20rem , 1fr));
  gap: 1rem;
  margin-bottom: 4rem;
}

.item {
  list-style-type: none;

  background-color: var(--surface);
  border-radius: var(--border-radius);

  padding: 0 1rem;
}

.item > h3 {
  overflow-x: hidden;
  text-overflow: trim;
}

.item-legendary {
  box-shadow: 0 0 8px gold;
}

.item-rare {
  box-shadow: 0 0 8px cornflowerblue;
}

.item-uncommon {
  box-shadow: 0 0 8px lightgreen;
}

.detail-container {
  max-height: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.detail-description {
  max-height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
}
